body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f8ff; /* Alice Blue */
    color: #333;
    padding: 20px;
}

h1 {
    padding: 5px;
}

.relative-div {
    position: relative;
}

.overlay-div {
    position: absolute;
    top: 10%;
    transform: translateY(-10%);
}

.left {
    left: 5%;
    transform: translateX(-5%);
}

.right {
    right: 5%;
    transform: translateX(5%);
    top: 55%;
    transform: translateY(-40%);
}

@media (max-width: 768px) {
    .overlay-div {
        position: static;
        transform: none;
        margin-top: 10px;
    }
}

img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

footer {
    text-align: center;
}
